/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  text-align: center;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100vw;
  padding: 20px
}

header img {
  width: 15%;
}

.navbar {
  display: flex;
  padding-right: 50px;
}

.navbar li {
  list-style: none;
  padding-left: 20px;
}

.topSection {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 70px;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/landing.jpg);
  height: 800px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.topSection h1 {
  color: #fff;
  font-size: 5rem;
}

.topSection p {
  color: #ffffff;
  font-size: 2rem;
}

.middleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.middleSection h2 {
    padding-bottom: 50px;    
}

.bottomSection {
  background-color: #00b172;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  text-align: left;
}

.sectionTitle {
  color: #fff;
  padding-left: 40px;  
}

.bottom-container {
  width: 33%;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 33%;
}

.card p {
  text-wrap: wrap;  
  width: 90%
}

.card h2 {
  color: #00b172;
  padding-bottom: 0;
}

.card img {
  height: 90px;
}

.logoW {
  width: 10%;
}

.preview {
  width: 30%;
}

.cardBottom {
  text-align: left;
  color: #fff;
}

.cardBottom  p {
    font-size: 1.4rem;
}

.cardBottom h2 {
    padding-left: 0;
}