/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 50px;
    width: 100vw;
}

header img {
    width: 15%;
}

.navbar {
    display: flex;
    padding-right: 50px; 
       
}

.navbar li {
    list-style: none;
    padding-left: 20px;
}

.topSection {
    position: relative;    
}

.card img {
    height:50px;
}

.topSection {
    background-image: url(../images/landing.jpg);
    height: 800px;
    width: 100vw;    
    background-size: cover;
    background-repeat: no-repeat;
}

.middleSection {
    display: flex;
    flex-direction: column;
}